body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #000000;
  background-color: #E5E5E5;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
figure {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}

li {
  list-style-type: none;
}

svg {
  fill: currentColor;
  stroke: currentColor;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  height: 44px;
  padding-inline: 37px;
  border-radius: 22px;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn__alternative {
  height: 40px;
  padding-inline: 20px;
  border-radius: 20px;
}
.btn__primary {
  color: #D41342;
  background-color: #FFFFFF;
}
.btn__primary:hover, .btn__primary:focus {
  background-color: #ecebeb;
}
.btn__secondary {
  color: #FFFFFF;
  background-color: #D41342;
}
.btn__secondary:hover, .btn__secondary:focus {
  background-color: #c7133e;
}
.btn__icon {
  width: 6.5px;
  height: 10px;
}

.about {
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
}
.about__container {
  padding: 125px 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.advantages {
  min-width: 320px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  background: #FFF5F6;
}
.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 39px 0 97px 20px;
}
.advantages__header {
  display: none;
}
.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  gap: 38px;
}
.advantages__item {
  width: 230px;
  height: 156px;
  position: relative;
}
.advantages__title {
  font-family: "Titan One";
  line-height: 41px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  color: #D41443;
  margin-bottom: 19px;
  display: block;
}
.advantages__title--vanilla-img::before {
  margin-bottom: 19px;
  content: url("../images/vanilla-icecream.png");
  width: 50px;
  height: 50px;
  display: block;
}
.advantages__title--apple-img::before {
  margin-bottom: 19px;
  content: url("../images/apple-icecream.png");
  width: 50px;
  height: 50px;
  display: block;
}
.advantages__title--heart-img::before {
  margin-bottom: 19px;
  content: url("../images/heart-icecream.png");
  width: 50px;
  height: 50px;
  display: block;
}
.advantages__text {
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 12px;
}

.modal {
  background-color: #E17992;
}

.table {
  border: 1px solid black;
}
.table__head {
  color: red;
}

.footer {
  width: 100%;
  background-color: #fff5f6;
}
.footer__container {
  padding: 0 20px;
}
.footer__svg-link {
  width: 34px;
  height: 34px;
  background-color: #fea5bb;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__svg-link:hover {
  background-color: #d41443;
}
.footer__svg {
  margin: auto;
}
.footer__use {
  fill: #ffffff;
  width: 100%;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 28px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.footer__rights {
  border-top: 1px solid #e1e1e1;
  width: 100%;
  padding-top: 22px;
  padding-bottom: 25px;
  margin: 0 auto;
  color: #907e82;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}
.footer__contact {
  margin-bottom: 43px;
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-weight: 700;
}
.footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__made {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 18px;
  color: #ffa5ba;
}
.footer__passion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 34px;
  color: #d41443;
}
.footer__phone {
  color: #d41443;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__made {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__passion {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.modal {
  background-color: #E17992;
}/*# sourceMappingURL=main.css.map */