<section class="advantages section">
  <div class="advantages__container">
    <h2 class="advantages__header">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <h3 class="advantages__title advantages__title--vanilla-img">721</h3>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <h3 class="advantages__title advantages__title--apple-img">16kg</h3>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantages__item">
        <h3 class="advantages__title advantages__title--heart-img">84</h3>
        <p class="advantages__text">Aliquam ac dui vel dui vulputate consect etur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
<section class="gallery section">
  <div class="gallery_container">
    <h2 class="gallery__title">Gallery</h2>
    <div class="gallery__img">
      <img alt="mansory gallery" src="./images/gallery1.png" srcset="./images/gallery1@2x.png 2x" />
    </div>
  </div>
</section>
