<link href="../sass/main.css" rel="stylesheet" />
<section class="advantages">
  <div class="advantages__container">
    <h2 class="advantages__header">Advantages</h2>
    <ul class="advantages__list">
      <li class="advantages__item">
        <img
          class="advantages__img"
          src="../images/vanilla-icecream.png"
          srcset="../images/vanilla-icecream@2x.png"
          alt="vanilla ice cream icon"
          width="33"
          height="50"
        />
        <h3 class="advantages__title">721</h3>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <img
          class="advantages__img"
          src="../images/apple-icecream.png"
          srcset="../images/apple-icecream@2x.png"
          alt="vanilla ice cream icon"
          width="33"
          height="50"
        />
        <h3 class="advantages__title">16kg</h3>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <img
          class="advantages__img"
          src="../images/heart-icecream.png"
          srcset="../images/heart-icecream@2x.png"
          alt="vanilla ice cream icon"
          width="33"
          height="50"
        />
        <h3 class="advantages__title">84</h3>
        <p class="advantages__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
