<section class="advantages">
  <div class="advantages__container">
    <ul class="advantages__list">
      <li class="advantages__item">
        <article class="advantages__fact">
          <img
            class="advantages__fact-img"
            src="../images/vanilla-icecream.png"
            srcset="../images/vanilla-icecream@2x.png"
            alt="vanilla ice cream icon"
            width="33"
            height="50"
          />
          <h3 class="advantages__fact-title">721</h3>
          <p class="advantages__fact-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </article>
      </li>
      <li class="advantages__item">
        <article class="advantages__fact">
          <img
            class="advantages__fact-img"
            src="../images/apple-icecream.png"
            srcset="../images/apple-icecream@2x.png"
            alt="vanilla ice cream icon"
            width="33"
            height="50"
          />
          <h3 class="advantages__fact-title">16kg</h3>
          <p class="advantages__fact-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </article>
      </li>
      <li class="advantages__item">
        <article class="advantages__fact">
          <img
            class="advantages__fact-img"
            src="../images/heart-icecream.png"
            srcset="../images/heart-icecream@2x.png"
            alt="vanilla ice cream icon"
            width="33"
            height="50"
          />
          <h3 class="advantages__fact-title">84</h3>
          <p class="advantages__fact-text">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </article>
      </li>
    </ul>
  </div>
</section>
