<!-- LOCAL HOST:
npm run dev
 -->
<button type="button" class="btn btn__secondary" data-modal-open>Open</button>
<!-- is-hidden -->
<div class="modal is-hidden" data-modal>
  <div class="modal__container">
    <div class="modal__option">
      <div class="modal__box">
        <p class="modal__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa ab alias nulla.
        </p>
        <button type="button" class="btn">Book a table</button>
      </div>
      <div class="modal__box">
        <p class="modal__text">Remote refresh?</p>
        <button type="button" class="btn">Order home</button>
        <!-- <ul>
            <li><svg></svg></li>
          </ul> -->
      </div>
    </div>
    <button type="button" class="btn btn__secondary modal__btn" data-modal-close>Cancel</button>
  </div>
</div>
