<section class="products section">
  <div class="products__container section__container">
    <label class="products__label" for="products__headline">100% natural</label>
    <h2 class="products__headline">products</h2>
    <ul class="products__list">
      <li class="products__item products__item--1">
        <h3 class="products__name products__name--1">ice cream</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
        <button class="products__arrow" type="button">
              <svg class="products__icons products__icon-arrow">
                <use xlink:href="./images/icons2.svg#arrow" width="40px" height="40px"></use>
              </svg>
            </button>
      </li>
      <li class="products__item products__item--2">
        <h3 class="products__name products__name--2">ice coffee</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
      </li>
      <li class="products__item products__item--3">
        <h3 class="products__name products__name--3">milkshakes</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et. dolore magna aliqua facilisis.
        </p>
      </li>
    </ul>
  </div>
</section>
