<div class="section">
    <div class="reviews__container">

        <div class="reviews__testimolias" js-testimolias>
            <div class="reviews__thumb">
                <img src="" alt="" class="reviews__photo">
            </div>
        </div>

        <div class="reviews__text-wrapper">
            <p class="reviews__content" js-content>
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
                nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.
            </p>
        </div>

        <div class="reviews__silder">
            <span class="reviews__client-name" js-client-name>Emily, Los Angeles</span>
            <div class="reviews__control" js-control></div>
        </div>

    </div>
</div>