<div class="reviews__section">
    <div class="reviews__container">

        <div class="reviews__item-wrapper">

            <div class="reviews__client is-faded is-visible" js-client-1>
                <div class="reviews__testimolias" js-testimolias>
                    <img src="images/person1.jpg" alt="Person 1" class="reviews__photo">
                </div>

                <div class="reviews__text-wrapper">
                    <p class="reviews__content" js-content>
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                        quam
                        nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </div>

                <div class="reviews__silder">
                    <span class="reviews__client-name" js-client-name>Emily, Los Angeles</span>
                </div>
            </div>

            <div class="reviews__client is-faded" js-client-2>
                <div class="reviews__testimolias">
                    <img src="images/person2.jpg" alt="Person 2" class="reviews__photo">
                </div>

                <div class="reviews__text-wrapper">
                    <p class="reviews__content" js-content>
                        Voluptate doloribus consequatur iusto veniam cum temporibus officiis corporis ipsam hic ipsum?
                    </p>
                </div>

                <div class="reviews__silder">
                    <span class="reviews__client-name" js-client-name>Lorem, Ipsum dolor</span>
                </div>
            </div>

            <div class="reviews__client is-faded" js-client-3>
                <div class="reviews__testimolias" js-testimolias>
                    <img src="images/person3.jpg" alt="Person 3" class="reviews__photo">
                </div>

                <div class="reviews__text-wrapper">
                    <p class="reviews__content" js-content>
                        Quasi, sint consectetur temporibus in repudiandae accusamus earum minima?
                    </p>
                </div>

                <div class="reviews__silder">
                    <span class="reviews__client-name" js-client-name>Sit, Amet Consectetur</span>
                </div>
            </div>

        </div>

        <div class="reviews__control" js-control>
            <ul class="reviews__list">
                <li class="reviews__item">
                    <button class="reviews__control-btn" js-btn-1>
                        <svg class="reviews__icon">
                            <use href="./images/slider-icons.svg#icon-home"></use>
                        </svg>
                    </button>
                </li>
                <li class="reviews__item">
                    <button class="reviews__control-btn" js-btn-2>
                        <svg class="reviews__icon">
                            <use href="./images/slider-icons.svg#icon-dot"></use>
                        </svg>
                    </button>
                </li>
                <li class="reviews__item">
                    <button class="reviews__control-btn" js-btn-3>
                        <svg class="reviews__icon">
                            <use href="./images/slider-icons.svg#icon-dot"></use>
                        </svg>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>