<header class="hero">
  <img
    src="src/images/logo_icecream.jpg"
    srcset="src/images/logo_icecream@2x.jpg 2x, images/logo_icecream@3x.jpg 3x"
    alt="Logo IceCream"
  />
  <button class="mobile__toggle js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
    <svg>
      <use xlink:href=".src/images/icons.svg#burger" width="24" height="24"></use>
    </svg>
  </button>
  <h1 class="header__title">
    Ice Cream<br />
    Made with<br />
    <span class="header__title--big">Passion</span>
  </h1>
  <nav>
    <ul class="header__nav">
      <li></li>
      <li></li>
    </ul>
  </nav>
</header>
