<link href="../sass/main.css" rel="stylesheet" />
<section class="table section">
  <div class="background"></div>
  <div class="container">
    <h2 class="table__header">Contact</h2>

    <ul class="table__list">
      <li class="table__box">
        <h4 class="table__head">CAFE</h4>
        <h5 class="table__place">Chicago</h5>
        <p class="table__content">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="line"></div>
        <div class="table__opened">
          <div class="table__day">Monady - Friday</div>
          <div class="table__hour">06:00 AM - 10:00 PM</div>
        </div>
        <div class="table__opened">
          <div class="table__day">Saturday - Sunday</div>
          <div class="table__hour">08:00 AM - 16:00 PM</div>
        </div>
        <div class="line"></div>
        <div class="table__contact">
          <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a><br />
          <a href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
      <li class="table__box">
        <h4 class="table__head table__head--second">FOOD TRUCK</h4>
        <h5 class="table__place">Los Angeles</h5>
        <p class="table__content">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="line"></div>
        <div class="table__opened">
          <div class="table__day">Monady - Friday</div>
          <div class="table__hour">06:00 AM - 10:00 PM</div>
        </div>
        <div class="table__opened">
          <div class="table__day">Saturday - Sunday</div>
          <div class="table__hour">08:00 AM - 16:00 PM</div>
        </div>
        <div class="line"></div>
        <div class="table__contact">
          <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a><br />
          <a href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
      <li class="table__box">
        <h4 class="table__head">CAFE</h4>
        <h5 class="table__place">New York</h5>
        <p class="table__content">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <div class="line"></div>
        <div class="table__opened">
          <div class="table__day">Monady - Friday</div>
          <div class="table__hour">06:00 AM - 10:00 PM</div>
        </div>
        <div class="table__opened">
          <div class="table__day">Saturday - Sunday</div>
          <div class="table__hour">08:00 AM - 16:00 PM</div>
        </div>
        <div class="line"></div>
        <div class="table__contact">
          <a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a><br />
          <a href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
    </ul>
    <button type="button">Our Locations</button>
    <button type="button">Franchiese</button>
  </div>
</section>
