@use '../utils/forward' as *;

.advantages {
  background: color-get('bg-secondary');
  padding-top: 39px;

  &__container {
    @include flex-display(column, null, center, null);
  }

  &__header {
    display: none;
  }

  &__list {
    @include flex-display(column, 38px, center, start);
    min-height: 570px;
  }

  &__item {
    max-width: 230px;
    height: 156px;
  }

  &__title {
    font-family: 'Titan One';
    line-height: 41px;
    text-transform: uppercase;
    @include font-type(normal, header-medium, little, medium);
    color: color-get('accent-primary');
    margin-bottom: 19px;
    display: block;

    &--vanilla-img::before {
      margin-bottom: 19px;
      content: url('../images/vanilla-icecream.png');
      width: 50px;
      height: 50px;
      display: block;
    }

    &--apple-img::before {
      margin-bottom: 19px;
      content: url('../images/apple-icecream.png');
      width: 50px;
      height: 50px;
      display: block;
    }

    &--heart-img::before {
      margin-bottom: 19px;
      content: url('../images/heart-icecream.png');
      width: 50px;
      height: 50px;
      display: block;
    }
  }

  &__text {
    font-family: 'DM Sans';
    @include font-type(bold, text-little, medium, small);
    max-width: 230px;
  }

  @include media-mapp('tablet') {
    .advantages {
      padding-top: 66px;
      &__container {
        @include flex-display(column, null, center, null);
      }

      &__list {
        @include flex-display(row, 60px, center, start);
        min-height: 300px;
      }

      &__item {
        max-width: 230px;
        height: 156px;
      }

      &__title {
        @include font-type(normal, header-height, little, medium);
        line-height: 55px;
        margin-bottom: 13px;

        &--vanilla-img::before {
          margin-bottom: 36px;
        }

        &--apple-img::before {
          margin-bottom: 36px;
        }

        &--heart-img::before {
          margin-bottom: 36px;
        }
      }

      &__text {
        @include font-type(bold, text-small, medium, small);
        max-width: 180px;
      }
    }
  }
  @include media-mapp('desktop') {
    .advantages {
      padding-top: 39px;
      &__container {
        @include flex-display(column, null, center, null);
      }

      &__list {
        @include flex-display(row, 100px, center, center);
      }

      &__item {
        max-width: 300px;
        height: 156px;
      }

      &__title {
        @include font-type(normal, header-large, little, medium);
        line-height: 66px;
        margin-bottom: 15px;

        &--vanilla-img::before {
          margin-bottom: 36px;
        }

        &--apple-img::before {
          margin-bottom: 36px;
        }

        &--heart-img::before {
          margin-bottom: 36px;
        }
      }

      &__text {
        @include font-type(bold, text-normal, medium, small);
        max-width: 300px;
      }
    }
  }
}

.gallery {
  background: linear-gradient(to bottom, #fff5f6 0 50%, #ffffff 0 100%);
  height: max-content;
  width: 100%;
  &__container {
    @include flex-display(column, null, center, null);
    max-width: 1200px;
    margin: auto;
    padding: 97px 30px 80px 30px;
  }
  &__title {
    display: none;
  }

  &__img {
    width: 100%;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  @include media-mapp('tablet') {
    .gallery {
      background: linear-gradient(to bottom, #fff5f6 20% 0%, #ffffff 0 100%);
      &__container {
        padding: 140px 30px 100px 30px;
        align-items: center;
      }
    }
  }
  @include media-mapp('tablet') {
    .gallery {
      &__container {
        padding: 138px 30px 110px 30px;
      }
    }
  }
}
